.contactContainer {
  margin: 72px auto 40px;
  background: #f8f8f8;
}

.contactHeading {
  color: #3fa9bb;
  font-weight: bolder;
}

.contactTextarea {
  max-height: none !important;
  border-radius: 30px !important;
  border: 1px solid #e3e3e3 !important;
}

.contactTextarea:focus { 
    border-color: red !important;
}